.overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .drawer {
    position: absolute;
    min-width: 200px;
    max-width: 420px;
    height: 100%;
    right: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
  
    .cartTitle {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      svg {
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
      svg:hover {
        transform: rotate(180deg);
      }
    }

  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
  
        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #DFDFDF ;
          position: relative;
          top:-4px;
          margin: 0 7px;
        }
      }
    }
  
  }
  
  .cartItems {
    flex: 1;
    overflow: auto;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px 15px 15px 15px;
    margin: 15px 0;
  
    p {
      margin-bottom: 5px;
      font-size: 16px;
    }
  
    span {
      font-size: 14px;
    }
  
    div {
      margin-right: 20px;
    }
  
    img {
      margin-right: 20px;
    }
  
    svg {
      opacity: .5;
      cursor: pointer;
      transition: opacity 0.15s  ease-in-out;
      width: 50px;
  
      &:hover {
        opacity: 1;
      }
    }
  }
  
.cartTotalBlock {
  .greenButton {
    position: relative;

    &:hover {
      svg {
        transform: translateX(5px) scale(1.1);
      }
    }

    svg {
      position: absolute;
      right: 30px;
      top: 22px;
      transition: transform .2s ease-in-out;
    }

  }
}
  
  