body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', sans-serif;
}

.textUpperCase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.wrapper {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 50px auto 0 auto ;
}

.cartEmpty {
  text-align: center;
  margin: auto;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      svg {
        transform: rotate(180deg) translateX(3px);
      }
    }

    svg {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

main {
  padding: 40px;

}


.boots {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  color: white;
  font-size: 16px;
  border: 0;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: lighten(#9DD558, 10%);
  }
}

.button {
  width: 32px;
  height: 32px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

